* {
  margin: 0;
  padding: 0;
  border: 0;
}
.kstate-debug a {
  background-color: rgba(0, 0, 0, 0.3);
}
.kstate-debug a.kstate-hover,
.kstate-debug a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* 状态-begin */
.kstate-fixed {
  position: fixed;
}
/* 状态-end */
.kmods {
  overflow: hidden;
  /*background: #efefef;*/
}
.kmod {
  background: no-repeat center top;
}
.kmod-bd {
  *zoom: 1;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.kmod-bd:before,
.kmod-bd:after {
  display: table;
  content: "";
}
.kmod-bd:after {
  clear: both;
}
.kmod-link,
.kmod-plink,
.kmod-blink {
  float: left;
}
.kmod-link,
.kmod-plink,
.kmod-blink {
  position: absolute;
  float: left;
}
.kmod-plink .kmod-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
.kstate-warm .kmod-plink:hover .kmod-tips {
  display: block;
  width: 86px;
  height: 47px;
  margin: -23px 0 0 -43px;
  background: url(http://a.vpimg4.com/upload/actpics/uidesign/2015/10m/1024sport/floor3_btn.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink:hover .kmod-tips {
  display: block;
  width: 82px;
  height: 76px;
  margin: -38px 0 0 -41px;
  background: url(http://a.vpimg2.com/upload/actpics/pingou/2015/5m/21/andi/buy_ico.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink.kstate-sold-chance .kmod-tips,
.kstate-sale .kmod-plink.kstate-sold-chance:hover .kmod-tips {
  display: block;
  width: 75px;
  height: 75px;
  margin: -37px 0 0 -37px;
  background: url(http://a.vpimg2.com/upload/actpics/pingou/2015/5m/21/andi/chance_yellow.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink.kstate-sold-out .kmod-tips,
.kstate-sale .kmod-plink.kstate-sold-out:hover .kmod-tips {
  display: block;
  width: 75px;
  height: 75px;
  margin: -37px 0 0 -37px;
  background: url(http://a.vpimg2.com/upload/actpics/pingou/2015/5m/21/andi/off_sell_icon_circle.png) no-repeat 0 0;
}
.kmod-target {
  display: block;
  position: relative;
  visibility: hidden;
}
.kmod-header {
  height: 500px;
}
.kmod-logo {
  width: 115px;
  height: 115px;
}
.kmod-footer {
  height: 250px;
  margin: 0;
}
.kmod-footer .kmod-btn {
  float: left;
  width: 311px;
  height: 57px;
  margin: 190px 0 0 334px;
}
.kmod-footer .kmod-btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/* 导航-begin */
.kmod-nav-wrap {
  height: 0;
}
.kmod-nav {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: #ccc;
  z-index: 20;
}
.kmod-nav.kstate-fixed {
  position: fixed;
}
.kmod-nav1 {
  width: 120px;
  height: 550px;
  margin-left: 1040px;
  padding-top: 80px;
  background: url('images/nav.png') no-repeat center 80px;
}
.kmod-nav1 .kmod-nav-hd {
  height: 170px;
}
.kmod-nav1 .kmod-nav-bd {
  margin: 0px;
}
.kmod-nav1 .kmod-nav-ft {
  height: 40px;
}
.kmod-nav1 .kmod-nav-ft .kmod-hash {
  height: 35px;
}
.kmod-nav1 .kmod-hash {
  display: block;
  width: 100%;
  height: 115px;
}
/* 导航-end */
/* 品购模块-begin */
.kmod1 {
  height: 542px;
}
.kmod1 .kmod-plink {
  width: 50%;
  height: 540px;
}
.kmod2 {
  height: 430px;
}
.kmod2 .kmod-plink {
  width: 50%;
  height: 428px;
}
.kmod3 {
  height: 482px;
}
.kmod3 .kmod-plink {
  width: 50%;
  height: 480px;
}
.kmod4 {
  height: 358px;
}
.kmod4 .kmod-plink {
  width: 50%;
  height: 356px;
}
.kmod5 {
  height: 431px;
}
.kmod5 .kmod-plink {
  width: 50%;
  height: 429px;
}
.kmod6 {
  height: 691px;
}
.kmod6 .kmod-plink {
  width: 50%;
  height: 689px;
}
.kmod7 {
  height: 344px;
}
.kmod7 .kmod-plink {
  width: 50%;
  height: 342px;
}
.kmod8 {
  height: 400px;
}
.kmod8 .kmod-plink {
  width: 50%;
  height: 398px;
}
.kmod9 {
  height: 565px;
}
.kmod9 .kmod-plink {
  width: 50%;
  height: 563px;
}
.kmod10 {
  height: 223px;
}
.kmod10 .kmod-plink {
  width: 50%;
  height: 221px;
}
.kmod11 {
  height: 583px;
}
.kmod11 .kmod-plink {
  width: 50%;
  height: 581px;
}
.kmod12 {
  height: 498px;
}
.kmod12 .kmod-plink {
  width: 50%;
  height: 496px;
}
.kmod13 {
  height: 389px;
}
.kmod13 .kmod-plink {
  width: 50%;
  height: 387px;
}
.kmod14 {
  height: 385px;
}
.kmod14 .kmod-plink {
  width: 50%;
  height: 383px;
}
.kmod15 {
  height: 269px;
}
.kmod15 .kmod-plink {
  width: 50%;
  height: 267px;
}
.kmod16 {
  height: 703px;
}
.kmod16 .kmod-plink {
  width: 50%;
  height: 701px;
}
.kmod17 {
  height: 634px;
}
.kmod17 .kmod-plink {
  width: 50%;
  height: 632px;
}
.kmod18 {
  height: 450px;
}
.kmod18 .kmod-plink {
  width: 50%;
  height: 448px;
}
.kmod19 {
  height: 701px;
}
.kmod19 .kmod-plink {
  width: 50%;
  height: 699px;
}
.kmod20 {
  height: 681px;
}
.kmod20 .kmod-plink {
  width: 50%;
  height: 679px;
}
.kmod21 {
  height: 230px;
}
.kmod21 .kmod-plink {
  width: 50%;
  height: 228px;
}
.kmod22 {
  height: 416px;
}
.kmod22 .kmod-plink {
  width: 50%;
  height: 414px;
}
.kmod23 {
  height: 878px;
}
.kmod23 .kmod-plink {
  width: 50%;
  height: 876px;
}
.kmod24 {
  height: 491px;
}
.kmod24 .kmod-plink {
  width: 50%;
  height: 489px;
}
/* 品购模块-end */
.kstate-warm .kmod-header {
  background: url('images/warm-header.jpg') no-repeat center 0;
}
.kstate-warm .kmod-logo {
  background: url('images/warm-logo.png') no-repeat center 0;
}
.kstate-warm .kmod-body {
  background: url('images/warm-body.jpg') repeat;
}
.kstate-warm .kmod-footer {
  background: url('images/warm-footer.jpg') no-repeat center 0;
}
.kstate-warm .kmod-footer .kmod-btn {
  background: url('images/warm-footer-btn.png') no-repeat center 0;
}
.kstate-warm .kmod1 {
  background-image: url("images/warm-1.jpg");
}
.kstate-warm .kmod2 {
  background-image: url("images/warm-2.jpg");
}
.kstate-warm .kmod3 {
  background-image: url("images/warm-3.jpg");
}
.kstate-warm .kmod4 {
  background-image: url("images/warm-4.jpg");
}
.kstate-warm .kmod5 {
  background-image: url("images/warm-5.jpg");
}
.kstate-warm .kmod6 {
  background-image: url("images/warm-6.jpg");
}
.kstate-warm .kmod7 {
  background-image: url("images/warm-7.jpg");
}
.kstate-warm .kmod8 {
  background-image: url("images/warm-8.jpg");
}
.kstate-warm .kmod9 {
  background-image: url("images/warm-9.jpg");
}
.kstate-warm .kmod10 {
  background-image: url("images/warm-10.jpg");
}
.kstate-warm .kmod11 {
  background-image: url("images/warm-11.jpg");
}
.kstate-warm .kmod12 {
  background-image: url("images/warm-12.jpg");
}
.kstate-warm .kmod13 {
  background-image: url("images/warm-13.jpg");
}
.kstate-warm .kmod14 {
  background-image: url("images/warm-14.jpg");
}
.kstate-warm .kmod15 {
  background-image: url("images/warm-15.jpg");
}
.kstate-warm .kmod16 {
  background-image: url("images/warm-16.jpg");
}
.kstate-warm .kmod17 {
  background-image: url("images/warm-17.jpg");
}
.kstate-warm .kmod18 {
  background-image: url("images/warm-18.jpg");
}
.kstate-warm .kmod19 {
  background-image: url("images/warm-19.jpg");
}
.kstate-warm .kmod20 {
  background-image: url("images/warm-20.jpg");
}
.kstate-warm .kmod21 {
  background-image: url("images/warm-21.jpg");
}
.kstate-warm .kmod22 {
  background-image: url("images/warm-22.jpg");
}
.kstate-warm .kmod23 {
  background-image: url("images/warm-23.jpg");
}
.kstate-warm .kmod24 {
  background-image: url("images/warm-24.jpg");
}
.kstate-sale .kmod-header {
  background: url('images/sale-header.jpg') no-repeat center 0;
}
.kstate-sale .kmod-logo {
  background: url('images/sale-logo.png') no-repeat center 0;
}
.kstate-sale .kmod-body {
  background: url('images/sale-body.jpg') repeat;
}
.kstate-sale .kmod-footer {
  background: url('images/sale-footer.png') no-repeat center 0;
}
.kstate-sale .kmod1 {
  background-image: url("images/sale-1.jpg");
}
.kstate-sale .kmod2 {
  background-image: url("images/sale-2.jpg");
}
.kstate-sale .kmod3 {
  background-image: url("images/sale-3.jpg");
}
.kstate-sale .kmod4 {
  background-image: url("images/sale-4.jpg");
}
.kstate-sale .kmod5 {
  background-image: url("images/sale-5.jpg");
}
.kstate-sale .kmod6 {
  background-image: url("images/sale-6.jpg");
}
.kstate-sale .kmod7 {
  background-image: url("images/sale-7.jpg");
}
.kstate-sale .kmod8 {
  background-image: url("images/sale-8.jpg");
}
.kstate-sale .kmod9 {
  background-image: url("images/sale-9.jpg");
}
.kstate-sale .kmod10 {
  background-image: url("images/sale-10.jpg");
}
.kstate-sale .kmod11 {
  background-image: url("images/sale-11.jpg");
}
.kstate-sale .kmod12 {
  background-image: url("images/sale-12.jpg");
}
.kstate-sale .kmod13 {
  background-image: url("images/sale-13.jpg");
}
.kstate-sale .kmod14 {
  background-image: url("images/sale-14.jpg");
}
.kstate-sale .kmod15 {
  background-image: url("images/sale-15.jpg");
}
.kstate-sale .kmod16 {
  background-image: url("images/sale-16.jpg");
}
.kstate-sale .kmod17 {
  background-image: url("images/sale-17.jpg");
}
.kstate-sale .kmod18 {
  background-image: url("images/sale-18.jpg");
}
.kstate-sale .kmod19 {
  background-image: url("images/sale-19.jpg");
}
.kstate-sale .kmod20 {
  background-image: url("images/sale-20.jpg");
}
.kstate-sale .kmod21 {
  background-image: url("images/sale-21.jpg");
}
.kstate-sale .kmod22 {
  background-image: url("images/sale-22.jpg");
}
.kstate-sale .kmod23 {
  background-image: url("images/sale-23.jpg");
}
.kstate-sale .kmod24 {
  background-image: url("images/sale-24.jpg");
}
/*  半品购调整-begin */
.warmup_bg .pro_bread {
  display: none;
}
.warmup_bg,
.list-define-w {
  overflow: hidden;
  position: relative;
}
.warmup_bg .kmods {
  margin: 0 -460px;
}
.list-define-w .kmods {
  margin: -380px -460px 0;
}
/*  半品购调整-end */
/*# sourceMappingURL=index.css.map */