html {
  font-family: "Microsoft Yahei", Consolas;
}
.code-preview {
  display: block;
}
.hide {
  display: none;
}
.ace_editor {
  height: 400px;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
