<!DOCTYPE html>
<html lang="en" ng-app="app">
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="libs/ionic/release/css/ionic.min.css"/>
    <link rel="stylesheet" href="index.css"/>
</head>
<body ng-controller="MainCtrl">
<fieldset class="code-options">
    <legend>Options</legend>
    <div class="controls">
        <label ng-repeat="obj in CONFIG.controls" ng-if="!obj.isHidden">
            <input class="control" type="checkbox" ng-model="obj.isChecked"/>
            <span ng-bind="obj.name"></span>
        </label>
    </div>
    <div class="layouts">
        <label ng-repeat="obj in CONFIG.layouts" ng-click="updateCode()" ng-if="!obj.isHidden">
            <input class="layout" type="checkbox" ng-model="obj.isChecked"/>
            <span ng-bind="obj.name"></span>
        </label>
    </div>
    <div class="mods">
        <label ng-repeat="obj in CONFIG.mods" ng-click="updateCode()" ng-if="!obj.isHidden">
            <input class="control" type="checkbox" ng-model="obj.isChecked"/>
            <span ng-bind="obj.name"></span>
        </label>
    </div>
</fieldset>
<fieldset class="code-preview">
    <legend>Preview</legend>

    <div ui-ace="{theme:'chrome', mode: 'html'}" ng-model="CODE"></div>
</fieldset>
<script src="libs/underscore/underscore.js"></script>
<script src="libs/artTemplate/dist/template.js"></script>
<script src="libs/ionic/release/js/ionic.bundle.js"></script>
<script src="libs/ace-builds/src-min-noconflict/ace.js"></script>
<script src="libs/angular-ui-ace/ui-ace.js"></script>
<script src="js/controllers/MainCtrl.js"></script>
</body>
</html>