<style>
.kstate-debug a{background-color:rgba(0,0,0,.3)}
.kstate-debug a.kstate-hover,.kstate-debug a:hover{background-color:rgba(0,0,0,.4)}
.kstate-fixed{position:fixed}
.kmods{overflow:hidden;background:#efefef}
.kmod{background:center top no-repeat}
.kmod-bd{position:relative;width:1000px;margin:0 auto}
.kmod-bd:after,.kmod-bd:before{display:table;content:""}
.kmod-bd:after{clear:both}
.kmod-blink,.kmod-link,.kmod-plink{float:left}
.kmod-target{display:block;position:relative;visibility:hidden}

{{# MOD_CONFIG_MAPS.PG_Header.css }}
{{# MOD_CONFIG_MAPS.PG_Body.css }}
{{# MOD_CONFIG_MAPS.PG_Footer.css }}
</style>
<!--模块总容器-begin-->
<div class="kmods kstate-debug">

    {{# MOD_CONFIG_MAPS.PG_Header.html }}

    {{# MOD_CONFIG_MAPS.PG_Body.html }}

    {{# MOD_CONFIG_MAPS.PG_Footer.html }}

</div>
<!--模块容器-end-->
<script>
(function(){

{{# MOD_CONFIG_MAPS.PG_Header.js }}

{{# MOD_CONFIG_MAPS.PG_Body.js }}

{{# MOD_CONFIG_MAPS.PG_Footer.js }}

})();
</script>