.kmod-footer {
  height: 250px;
  margin: 80px 0 40px;
  background-image: url('{{ MOD_CONFIG.IMG_DIR }}footer.png');
}
.kmod-footer .kmod-btn {
  float: left;
  width: 311px;
  height: 57px;
  margin: 190px 0 0 334px;
}