.kmod-header {
  height: 500px;
  background: url('{{ MOD_CONFIG.IMG_DIR }}header.jpg') no-repeat;
  {{each MOD_CONFIG_MAPS.PG_Header.style}}
  {{$index}}: {{$value}};
  {{/each}}
}
.kmod-logo {
  width: 115px;
  height: 115px;
  background: url('{{ MOD_CONFIG.IMG_DIR }}logo.png') no-repeat;
}
