<style>
    {{# MOD_CONFIG_MAPS.HD_Layout.css }}

    {{# MOD_CONFIG_MAPS.PG_Header.css }}
    {{# MOD_CONFIG_MAPS.PG_Body.css }}
    {{# MOD_CONFIG_MAPS.PG_Footer.css }}
</style>
<!--模块总容器-begin-->
<div class="kmods kstate-debug">

    {{# MOD_CONFIG_MAPS.PG_Header.html }}

    {{# MOD_CONFIG_MAPS.PG_Body.html }}

    {{# MOD_CONFIG_MAPS.PG_Footer.html }}

</div>
<!--模块容器-end-->
<script>
    var K_DEL_BRANDS, K_NUM_FAKE_BRANDS, K_BLANK_DATA_FLOOR_USE_CACHE, K_DEFAULT_DAP_DATA_PATH, K_FORCE_USE_DEFAULT_DATA;

    K_DEL_BRANDS = '';
    K_SUBMALL_NAME = '';
    K_NUM_FAKE_BRANDS = 0;
    K_BLANK_DATA_FLOOR_USE_CACHE = true;
    K_FORCE_USE_DEFAULT_DATA = false;
    K_DEFAULT_DAP_DATA_PATH = 'http://a.vpimg4.com/upload/actpics/uidesign/2016/3m/0316kidacu/index-data/dap_t0314_0940.js';

</script>
<script>
    (function(){

        {{# MOD_CONFIG_MAPS.PG_Header.js }}

        {{# MOD_CONFIG_MAPS.PG_Body.js }}

        {{# MOD_CONFIG_MAPS.PG_Footer.js }}

    })();
</script>
