<style>
    {{# MOD_CONFIG_MAPS.PG_Layout.css }}

    {{# MOD_CONFIG_MAPS.PG_Header.css }}
    {{# MOD_CONFIG_MAPS.PG_Body.css }}
    {{# MOD_CONFIG_MAPS.PG_Footer.css }}
</style>
<!--模块总容器-begin-->
<div class="kmods kstate-debug">

    {{# MOD_CONFIG_MAPS.PG_Header.html }}

    {{# MOD_CONFIG_MAPS.PG_Body.html }}

    {{# MOD_CONFIG_MAPS.PG_Footer.html }}

</div>
<!--模块容器-end-->
<script>
    (function(){

        {{# MOD_CONFIG_MAPS.PG_Header.js }}

        {{# MOD_CONFIG_MAPS.PG_Body.js }}

        {{# MOD_CONFIG_MAPS.PG_Footer.js }}

    })();
</script>
